@model WSBObject

@{
    <h2>STONK INFO</h2>
    <p><b style="color:blue">Ticker:</b> @Model.ticker</p>
    <p><b style="color:blue">Sentiment:</b> @Model.sentiment</p>
    <p><b style="color:blue">Sentiment Score:</b> @Model.sentiment_score</p>
    <p><b style="color:blue">Comments:</b> @Model.no_of_comments</p>
}